.footer__block-navigations {
    display: grid;
    grid-template-columns: 197px 220px;
}

@media screen and (max-width: 535px) {
    .footer__block-navigations {
        grid-template-columns: 100px 111px;
        column-gap: 48px;
    }
}