.main__h3-gradient {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.208;
    background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

@media screen and (max-width: 760px) {
    .main__h3-gradient {
        font-size: 2.25rem;
        line-height: 1.222;
    }
}