.main {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 90px 20px 0;
    max-width: 1180px;
    min-width: 320px;
    display: grid;
    grid-template-columns: repeat(2, 570px);
    color: #E4E5EA;
}