.footer__copyright {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.25;
    text-align: right;
    color: #E4E5EA;
}

.footer__copyright:last-child {
    text-decoration: underline;
}