.header__logo {
    margin: 0;
    padding: 0 52px 0 0;
    max-width: 140px;
}

@media screen and (max-width: 1180px) {
    .header__logo {
        max-width: 12vw;
    }
}    

@media screen and (max-width: 820px) {
    .header__logo {
        display: none;
    }
}