.footer__header-blocks {
    margin: 0;
    padding: 0 0 20px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.2142;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #656566;
}